// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}
@mixin respond-to($media) {
	@if $media == handhelds {
		@media only screen and (max-width: $mobile_max) { @content; }
	}
	@else if $media == medium-screens {
		@media only screen and (min-width: $mobile_min ) and (max-width: $desktop_max) { @content; }
	}
	@else if $media == wide-screens {
		@media only screen and (min-width: $desktop_min) { @content; }
	}
	@else if $media == mobileMin{
		@media only screen and (min-width: $mobile_min) { @content; }
	}
}