
header#masthead{

    position: absolute;
    width: 100%;
	background: transparent;
	z-index: 1;
	//menu frame
	nav.navbar{
		display: flex;
    	border: 0;
		margin-bottom:0;
		background-color:transparent;
		.nav-logo {
			float: left;
			width: 20%;
			display: flex;
			align-items: center;
			align-content: center;
		}
		.nav-list {
			float: left;
			width: 100%;
			display: flex;
			align-items: center;
			align-content: center;
			padding: 1em 0;
			li {
				a {
					font-family: 'Montserrat-Regular';
					text-transform:uppercase;
					color:$black;
					background-color:transparent;
					font-size:16px;
					border-right: 1px solid #212121;
					padding: 0em 1em;
					
				}
				.active {
					color:#f9f6f3;
				}
			}
			
		}

		//left logo
		a.navbar-brand{
			background: url();
		    background-size: contain;
		    background-repeat-x: no-repeat;
		    width:250px;
		}

		.navbar-collapse {
			margin: auto;
		}
		
	}
}

.navbar-toggle {
	background-color: transparent;
    border: none;
	margin-right: 0;
	span {
		background-color: #212121 !important;
	}
}